<?xml version="1.0" encoding="utf-8"?>
<charset>
  <FileVersion>2</FileVersion>
  <BK1>e7</BK1>
  <BK2>77</BK2>
  <Col3>37</Col3>
  <Reversed>False</Reversed>
  <Multicolour>False</Multicolour>
  <Uppercase>True</Uppercase>
  <character>
    <charcode>0</charcode>
    <chardata>
      <data>1</data>
      <data>2</data>
      <data>4</data>
      <data>8</data>
      <data>16</data>
      <data>32</data>
      <data>64</data>
      <data>129</data>
    </chardata>
  </character>
  <character>
    <charcode>1</charcode>
    <chardata>
      <data>24</data>
      <data>24</data>
      <data>24</data>
      <data>24</data>
      <data>60</data>
      <data>126</data>
      <data>231</data>
      <data>195</data>
    </chardata>
  </character>
  <character>
    <charcode>2</charcode>
    <chardata>
      <data>128</data>
      <data>64</data>
      <data>32</data>
      <data>16</data>
      <data>8</data>
      <data>4</data>
      <data>2</data>
      <data>129</data>
    </chardata>
  </character>
  <character>
    <charcode>3</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>255</data>
    </chardata>
  </character>
  <character>
    <charcode>4</charcode>
    <chardata>
      <data>131</data>
      <data>71</data>
      <data>46</data>
      <data>28</data>
      <data>56</data>
      <data>116</data>
      <data>226</data>
      <data>193</data>
    </chardata>
  </character>
  <character>
    <charcode>5</charcode>
    <chardata>
      <data>129</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>255</data>
    </chardata>
  </character>
  <character>
    <charcode>6</charcode>
    <chardata>
      <data>193</data>
      <data>226</data>
      <data>116</data>
      <data>56</data>
      <data>28</data>
      <data>46</data>
      <data>71</data>
      <data>131</data>
    </chardata>
  </character>
  <character>
    <charcode>7</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>129</data>
    </chardata>
  </character>
  <character>
    <charcode>8</charcode>
    <chardata>
      <data>129</data>
      <data>2</data>
      <data>4</data>
      <data>8</data>
      <data>16</data>
      <data>32</data>
      <data>64</data>
      <data>128</data>
    </chardata>
  </character>
  <character>
    <charcode>9</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>10</charcode>
    <chardata>
      <data>129</data>
      <data>64</data>
      <data>32</data>
      <data>16</data>
      <data>8</data>
      <data>4</data>
      <data>2</data>
      <data>1</data>
    </chardata>
  </character>
  <character>
    <charcode>11</charcode>
    <chardata>
      <data>195</data>
      <data>231</data>
      <data>126</data>
      <data>60</data>
      <data>24</data>
      <data>24</data>
      <data>24</data>
      <data>255</data>
    </chardata>
  </character>
  <character>
    <charcode>12</charcode>
    <chardata>
      <data>128</data>
      <data>64</data>
      <data>32</data>
      <data>16</data>
      <data>8</data>
      <data>4</data>
      <data>2</data>
      <data>129</data>
    </chardata>
  </character>
  <character>
    <charcode>13</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>255</data>
    </chardata>
  </character>
  <character>
    <charcode>14</charcode>
    <chardata>
      <data>1</data>
      <data>2</data>
      <data>4</data>
      <data>8</data>
      <data>16</data>
      <data>32</data>
      <data>64</data>
      <data>129</data>
    </chardata>
  </character>
  <character>
    <charcode>15</charcode>
    <chardata>
      <data>24</data>
      <data>24</data>
      <data>24</data>
      <data>24</data>
      <data>60</data>
      <data>126</data>
      <data>231</data>
      <data>195</data>
    </chardata>
  </character>
  <character>
    <charcode>16</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
</charset>
