<?xml version="1.0" encoding="utf-8"?>
<charset>
  <FileVersion>2</FileVersion>
  <BK1>27</BK1>
  <BK2>77</BK2>
  <Col3>57</Col3>
  <Reversed>False</Reversed>
  <Multicolour>True</Multicolour>
  <Uppercase>True</Uppercase>
  <character>
    <charcode>0</charcode>
    <chardata>
      <data>4</data>
      <data>4</data>
      <data>16</data>
      <data>16</data>
      <data>64</data>
      <data>64</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>1</charcode>
    <chardata>
      <data>60</data>
      <data>60</data>
      <data>60</data>
      <data>60</data>
      <data>60</data>
      <data>60</data>
      <data>60</data>
      <data>126</data>
    </chardata>
  </character>
  <character>
    <charcode>2</charcode>
    <chardata>
      <data>16</data>
      <data>16</data>
      <data>4</data>
      <data>4</data>
      <data>1</data>
      <data>1</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>3</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>20</data>
    </chardata>
  </character>
  <character>
    <charcode>4</charcode>
    <chardata>
      <data>1</data>
      <data>7</data>
      <data>31</data>
      <data>127</data>
      <data>254</data>
      <data>248</data>
      <data>224</data>
      <data>128</data>
    </chardata>
  </character>
  <character>
    <charcode>5</charcode>
    <chardata>
      <data>255</data>
      <data>255</data>
      <data>231</data>
      <data>129</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>20</data>
    </chardata>
  </character>
  <character>
    <charcode>6</charcode>
    <chardata>
      <data>128</data>
      <data>224</data>
      <data>248</data>
      <data>254</data>
      <data>127</data>
      <data>31</data>
      <data>7</data>
      <data>1</data>
    </chardata>
  </character>
  <character>
    <charcode>7</charcode>
    <chardata>
      <data>20</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>129</data>
      <data>231</data>
      <data>255</data>
      <data>255</data>
    </chardata>
  </character>
  <character>
    <charcode>8</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>1</data>
      <data>1</data>
      <data>4</data>
      <data>4</data>
      <data>16</data>
      <data>16</data>
    </chardata>
  </character>
  <character>
    <charcode>9</charcode>
    <chardata>
      <data>65</data>
      <data>65</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>10</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>64</data>
      <data>64</data>
      <data>16</data>
      <data>16</data>
      <data>4</data>
      <data>4</data>
    </chardata>
  </character>
  <character>
    <charcode>11</charcode>
    <chardata>
      <data>126</data>
      <data>60</data>
      <data>60</data>
      <data>60</data>
      <data>60</data>
      <data>60</data>
      <data>60</data>
      <data>60</data>
    </chardata>
  </character>
  <character>
    <charcode>12</charcode>
    <chardata>
      <data>16</data>
      <data>16</data>
      <data>4</data>
      <data>4</data>
      <data>1</data>
      <data>1</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>13</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>65</data>
      <data>65</data>
    </chardata>
  </character>
  <character>
    <charcode>14</charcode>
    <chardata>
      <data>4</data>
      <data>4</data>
      <data>16</data>
      <data>16</data>
      <data>64</data>
      <data>64</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>15</charcode>
    <chardata>
      <data>60</data>
      <data>60</data>
      <data>60</data>
      <data>60</data>
      <data>60</data>
      <data>60</data>
      <data>60</data>
      <data>126</data>
    </chardata>
  </character>
  <character>
    <charcode>16</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>65</data>
    </chardata>
  </character>
</charset>
